@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 7%;
    --foreground: 210 40% 98%;

    --card: 0 0% 10%;
    --card-foreground: 210 40% 98%;

    --popover: 0 0% 7%;
    --popover-foreground: 210 40% 98%;

    --primary: 120 61% 34%;
    --primary-foreground: 210 40% 98%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 120 61% 50%;
    --accent-foreground: 0 0% 7%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 120 61% 50%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 7%;
    --foreground: 210 40% 98%;

    --card: 0 0% 10%;
    --card-foreground: 210 40% 98%;

    --popover: 0 0% 7%;
    --popover-foreground: 210 40% 98%;

    --primary: 120 61% 34%;
    --primary-foreground: 210 40% 98%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 120 61% 50%;
    --accent-foreground: 0 0% 7%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 120 61% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
